/* Clases Especificas */

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Helpers */
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.textcenter {
    text-align: center;
}
.text-uppercase{
    text-transform: uppercase;
}
.center{
    margin: 0 auto;
}
.colorwhite{
    color: white;
}
/* Vista Splash*/

.splash {
    background-color: #5755b9;
    height: 100vh;
}
.logo {
    position: absolute;
    width: 200px;
  }
  .box_text {
    margin-top: 100px;
    position: absolute;
}

/* Vista Main */

.main{
    background-image: url('../assets/images/viajeros.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.opacity {
    height: 100vh;
    background-color: rgba(56, 34, 34, 0.69);}
.texto {
    font-size: 20px;
    padding-top: 25vh;
    padding-bottom: 10vh;
}


#inifacebook {
    background-color: #2c3271;
    border-radius: 15px;
    padding: 0px 20px;
}
    #register {
        border-radius: 15px;
        background-color: transparent;
        border: 1px solid;
        padding: 0px 50px;
    }
/*-------clases login-----------*/
.vertical {
    margin-top: 30vh;
}

/*KARINA*/
.color_h2{
color: #26a69a; 
}

/*--------- view home --------*/
.bg-image {
    background-image: url('../assets/images/quito.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.bg-image1 {
    background-image: url('../assets/images/santiago.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.bg-image2 {
    background-image: url('../assets/images/paris.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.bg-image3 {
    background-image: url('../assets/images/madrid.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.bg-image4 {
    background-image: url('../assets/images/roma.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.bg-image5 {
    background-image: url('../assets/images/cuzco.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.bg-image6 {
    background-image: url('../assets/images/tokyo.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.bg-image7 {
    background-image: url('../assets/images/seul.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.bg-image8 {
    background-image: url('../assets/images/rio.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.bg-image9 {
    background-image: url('../assets/images/london.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.bg-image10 {
    background-image: url('../assets/images/mexico.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.bg-image11 {
    background-image: url('../assets/images/buenosaires.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.center {
    margin-top: 25%;
}
.border {
    border: 2px solid #ffffff;
}

/*----------- user view ------------*/

