<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat - Firebase</title>
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
        <nav>
          <div class="nav-wrapper  red darken-1">
            <a href="#" class="brand-logo">Travel</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
              <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li>
                <a href="user.html">Perfil</a>
              </li>
              <li>
                <a href="viajes.html">Viajes</a>
              </li>
              <li>
                <a href="chat.html">Chat</a>
              </li>
              <li>
                <a href="maps.html">Geolocalización</a>
              </li>
              <li>
                <a href="friends.html">Amigos</li>
              <li>
                <a href="fotos.html">Fotos</a>
              </li>
              <li>
                <a href="main.html">Cerrar Sesión</a>
              </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li>
                <a href="user.html">
                  <i class="material-icons  orange-text text-darken-1">account_circle</i>Perfil</a>
              </li>
              <li>
                <a href="viajes.html">
                  <i class="material-icons light-blue-text text-darken-3">image</i>Viajes</a>
              </li>
              <li>
                <a href="desktop.html">
                  <i class="material-icons purple-text">home</i>Inicio</a>
              </li>
              <li>
                <a href="friends.html">
                  <i class="material-icons purple-text">face</i>Amigos</a>
              </li>
              <li>
                <a href="chat.html">
                  <i class="material-icons light-blue-text text-darken-3">message</i>Chat</a>
              </li>
              <li>
                <a href="maps.html">
                  <i class="material-icons light-blue-text text-darken-3">language</i>Geolocalización</a>
              </li>
              <li>
                <a href="fotos.html">
                  <i class="material-icons red-text text-lighten-1">local_see</i>Fotos</a>
              </li>
              <li class="users-js">
                <a href="#">
                  <i class="material-icons indigo-text text-darken-2">people</i>Usuarios Conectados</a>
              </li>
              <ul class="users collection"></ul>
              <li>
                <a href="main.html">
                  <i class="material-icons grey-text">close</i>Cerrar Sesión</a>
              </li>
            </ul>
          </div>
          <div class="nav-content">
            <ul class="tabs tabs-transparent">
              <li id="publication" class="tab">
                <a href="desktop.html">
                  <i class="material-icons">chrome_reader_mode</i>
                </a>
              </li>
              <li>
                <a href="friends.html">
                  <i class="material-icons">person_outline</i>
                </a>
              </li>
              <li id="messages" class="tab">
                <a href="chat.html">
                  <i class="material-icons">message</i>
                </a>
              </li>
              <li id="notification" class="tab">
                <a href="viajes.html">
                  <i class="material-icons">notifications_none</i>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      <br>
      <br>
      <br>

  
  <div id="chat">
    <div class="row">
      <div class="col m3"></div>
      <div class="col s12 m6">
        <div class="encabezado">
          <img  id="img-user" class="tam_chica" alt="chica">
          <a href="#">
            <i id="cerrar" class="small material-icons close">close</i>
          </a>
          <i class="small material-icons call">call</i>
        </div>
        <div class="chat">

          <div id="chatUl">

          </div>
          <hr>
          <div class="center-align bg_color">
            <form action="">
              <div class="row">
                <div class="col s12 m9">
                  <textarea type="text" id="message" style="overflow-y:hidden" placeholder="Escriba su mensaje y presione el boton"></textarea>
                </div>
                <div class="col m1">
                  <button id="btnEnviar" class="btn waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </form>

          </div>

        </div>

      </div>
    </div>
  </div>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/helpers/config_firebase.js"></script>
  <script src="../js/home.js"></script>
  <script src="../js/post.js"></script>
  <script src="../js/compartir.js"></script>
  <script src="../js/helpers/functions.js"></script>
  <script type="text/javascript" src="../js/chat.js"></script>
</body>

</html>
