<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Some Open Graph tags -->
  <meta name="description" content="Here maps">
  <meta name="author" content="Here">
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Post" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://jennifercarmen.github.io/weTravel-app/views/desktop.html" />
  <meta property="og:site_name" content="jennifercarmen.github.io" />
  <meta property="article:publisher" content="[https://www.facebook.com/Mahcode-849841581779986" />
  <meta property="article:published_time" content="2018-04-03T07:50:00Z]" />
  <meta property="og:image" content="https://user-images.githubusercontent.com/32302079/38602135-831b9bb0-3d2f-11e8-8c3b-c33c2afd53e6.png"
  />
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="@JenniferCarmen" />
  <meta name="twitter:site" content="@JenniferCarmen" />
  <meta name="twitter:creator" content="@JenniferCarmen" />
  <meta name="twitter:via" content="JenniferCarmen" />
  <meta name="twitter:card" content="photo" />
  <meta name="twitter:url" content="https://jennifercarmen.github.io/weTravel-app/views/desktop.html" />
  <link rel="stylesheet" href="../css/buttonCompartir.css">


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css" media="screen,projection" />
  <link href="https://fonts.googleapis.com/css?family=Joti+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">

  <title>Newsfeed</title>
</head>

<body>
    <nav class="nav-extended">
        <div class="nav-wrapper red darken-1">
          <a href="#" class="brand-logo">Travel</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="user.html">Perfil</a></li>
            <li><a href="viajes.html">Viajes</a></li>
            <li><a href="chat.html">Chat</a></li>
            <li><a href="maps.html">Geolocalización</a></li>
            <li><a href="desktop.html">Inicio</a></li>
            <li><a href="fotos.html">Fotos</a></li>
            <li><a href="main.html">Cerrar Sesión</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="user.html"><i class="material-icons  orange-text text-darken-1">account_circle</i>Perfil</a></li>
            <li><a href="viajes.html"><i class="material-icons light-blue-text text-darken-3">image</i>Viajes</a></li>
            <li><a href="desktop.html"><i class="material-icons purple-text">face</i>Inicio</a></li>
            <li><a href="chat.html"><i class="material-icons light-blue-text text-darken-3">message</i>Chat</a></li>
            <li><a href="maps.html"><i class="material-icons light-blue-text text-darken-3">language</i>Geolocalización</a></li>
            <li><a href="fotos.html"><i class="material-icons red-text text-lighten-1">local_see</i>Fotos</a></li>
            <li class="users-js"><a href="#"><i class="material-icons indigo-text text-darken-2">people</i>Usuarios Conectados</a></li>
            <ul class="users collection"></ul>
            <li><a href="main.html"><i class="material-icons grey-text">close</i>Cerrar Sesión</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li id="publication" class="tab"><a href="desktop.html"><i class="material-icons">chrome_reader_mode</i></a></li>
            <li id="friend"><a href="friends.html"><i class="material-icons">person_outline</i></a></li>
            <li id ="messages" class="tab"><a href="chat.html"><i class="material-icons">message</i></a></li>
            <li id="notification" class="tab"><a href="viajes.html"><i class="material-icons">notifications_none</i></a></li>
          </ul>
        </div>
      </nav>
  <br>
  <br>
  <br>
  <div class="row ">
    <div class="col l3 m3 left-hide">
      <div class="collection">
        <a href="#!" class="collection-item">Publicaciones</a>
             <a href="#!" class="collection-item hide-show-oyp">Ofertas y promociones</a>
        <div class="hidden-oyp">
          <div class="">
            <div class="">
              <ul class="collapsible popout" data-collapsible="accordion">
                <li class="">
                  <div class="collapsible-header">
                    <i class="material-icons">airplanemode_active</i>Viajes en avión</div>
                  <div class="collapsible-body">
                    <ul class="collection">
                      <li class="collection-item avatar">
                        <img src="../assets/images/chica.png" alt="" class="circle">
                        <span class="title">LATAN</span>
                        <p>Airlines
                          <br>¡Aprovecha y vuela!</p>
                        <a href="https://www.latam.com/es_pe/vuelos-destinos/?OTID=894423&s_cid=onsite2016_PE_20170428_home_Boton_Piso_">Ver página web</a>
                        <a href="#!" class="secondary-content">
                        </a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle">flight_takeoff</i>
                        <span class="title">Buenos Aires</span>
                        <p>Economy
                          <br>Desde US$ 485
                          <br>S/.1,582</p>
                        <a href="#!" class="secondary-content">
                        </a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle green">flight_takeoff</i>
                        <span class="title">Cuzco</span>
                        <p>Economy
                          <br>Desde US$ 36
                          <br>S/.118</p>
                        <a href="#!" class="secondary-content">
                        </a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle red">flight_takeoff</i>
                        <span class="title">Sao Paolo</span>
                        <p>Economy
                          <br>Desde US$ 509
                          <br>S/.1,660</p>
                        <a href="#!" class="secondary-content">
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="">
                  <div class="collapsible-header">
                    <i class="material-icons">airport_shuttle</i>Viajes en Bus</div>
                  <div class="collapsible-body">
                    <ul class="collection">
                      <li class="collection-item avatar">
                        <img src="../assets/images/chica.png" alt="" class="circle">
                        <span class="title">GM</span>
                        <p>Transportes
                          <br>Internacional S.A.C.</p>
                        <a href="http://www.gminternacional.com.pe/">Ver página web</a>
                        <a href="#!" class="secondary-content">
                        </a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle">flight_takeoff</i>
                        <span class="title">Lima</span>
                        <p>Economy
                          <br>Desde US$ 13,95
                          <br>S/.45</p>
                        <a href="#!" class="secondary-content">
                        </a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle green">flight_takeoff</i>
                        <span class="title">Huánuco</span>
                        <p>Economy
                          <br>Desde US$ 15.53
                          <br>S/.50</p>
                        <a href="#!" class="secondary-content">

                        </a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle red">flight_takeoff</i>
                        <span class="title">Tingo Maria</span>
                        <p>Economy
                          <br>Desde US$ 24.86
                          <br>S/.80</p>
                        <a href="#!" class="secondary-content">

                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="">
                  <div class="collapsible-header">
                    <i class="material-icons">mood</i>Ofertas</div>
                  <div class="collapsible-body">
                    <ul class="collection">
                      <li class="collection-item avatar">
                        <img src="../assets/images/chica.png" alt="" class="circle">
                        <span class="title">LATAN</span>
                        <p>Airlines
                          <br>¡Aprovecha y vuela!</p>
                        <a href="https://www.latam.com/es_pe/vuelos-destinos/?OTID=894423&s_cid=onsite2016_PE_20170428_home_Boton_Piso_">Ver página web</a>
                        <a href="#!" class="secondary-content">
                        </a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle">flight_takeoff</i>
                        <span class="title">Ayacucho</span>
                        <p>Economy
                          <br>Desde US$ 62
                          <br>S/.203</p>
                        <a href="#!" class="secondary-content">
                        </a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle green">flight_takeoff</i>
                        <span class="title">Trujillo</span>
                        <p>Economy
                          <br>Desde US$ 67
                          <br>S/.219</p>
                        <a href="#!" class="secondary-content">
                        </a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle red">flight_takeoff</i>
                        <span class="title">Pucallpa</span>
                        <p>Economy
                          <br>Desde US$ 62
                          <br>S/.203</p>
                        <a href="#!" class="secondary-content">
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <a href="#!" class="collection-item">Sugerencias</a>
      </div>
    </div>

    <!--     publicaciones     -->
    <div class="col l6 m6">
      <div class="">
        <form class=" teal lighten-5 border">
          <div class="margin">
            <div class="input-field">
              <input type="text" id="messagepost" class="validateInput" placeholder="¡Cuéntanos de tu viaje!">
            </div>
          </div>
        </form>
      </div>
      <div id="boxPost">
      </div>
    </div>
    <!-- Modal Post -->

    <div id="modalpost" class="modal open">

      <div class="modal-content">
        <div class="col s12">
          <h5 class="font-title">Comparte tu viaje</h5>
          <div class="teal lighten-5 style-post">
            <input type="text" id="writepost" class="validateInput" placeholder="¡Cuéntanos de tu viaje!">
            <label>
              <input type="file" name="fichero" value="" id="fichero" class="hide">
              <img id="imagepost" class="responsive-img" />
              <div>
                <img class="responsive-img" src="../assets/images/gallery.png" width="30px" alt="Gallery">Foto</div>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <br>
        <div id="progress" class="progress hide">
          <div class="indeterminate"></div>
        </div>
        <div class="col s12 l12 m12">
            <button id="btnEnviar" class="modal-action btn waves-effect waves-light " disabled>Publicar</button>

        </div>
      </div>

    </div>
    <div class="col l3 m3 right-hide">
      <div class="user-connected">
        <div id="app" class="">
          <div class="">
            <div class="">
              <div class="users-js">
                <h5>Viajeros conectados</h5>
              </div>
              <ul class="users collection"></ul>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <!-- Modal Compartir -->
  <div id="compartirMap" class="modal">
    <div class="modal-content">
      <h4>Comparte</h4>
    </div>
    <div class="modal-footer">
      <!-- Buttons, Copy this to your Page Article -->
      <div class="share-buttons-row">
        <!--Facebook's Button -->
        <div class="share-fb"></div>
        <!--Twitter's Button -->
        <div class="share-twitter"></div>
        <!--Facebook's Button -->
        <div class="share-google-plus"></div>
        <!--Linkedin's Button -->
        <div class="share-linkedin"></div>
      </div>
    </div>

    <!-- Materialize  Jquery JavaScript Firebase-->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="../js/helpers/config_firebase.js"></script>
    <script src="../js/home.js"></script>
    <script src="../js/post.js"></script>
    <script src="../js/compartir.js"></script>
    <script src="../js/helpers/functions.js"></script>
</body>

</html>