<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css"  media="screen,projection"/>    
    <link href="https://fonts.googleapis.com/css?family=Joti+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Newsfeed</title>
</head>

<body>
  <nav class="nav-extended">
    <div class="nav-wrapper teal darken-1">
      <a href="#" class="brand-logo">Travel</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="user.html">Perfil</a></li>
        <li><a href="#">Viajes</a></li>
        <li><a href="#">Inicio</a></li>
        <li><a href="fotos.html">Fotos</a></li>
        <li><a href="#">Cerrar Sesión</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="user.html"><i class="material-icons  orange-text text-darken-1">account_circle</i>Perfil</a></li>
        <li><a href="viajes.html"><i class="material-icons light-blue-text text-darken-3">image</i>Viajes</a></li>
        <li><a href="post.html"><i class="material-icons purple-text">face</i>Inicio</a></li>
        <li><a href="fotos.html"><i class="material-icons red-text text-lighten-1">local_see</i>Fotos</a></li>
        <li class="users-js"><a href="#"><i class="material-icons indigo-text text-darken-2">people</i>Usuarios Conectados</a></li>
        <ul class="users collection"></ul>
        <li><a href="main.html"><i class="material-icons grey-text">close</i>Cerrar Sesión</a></li>
      </ul>
    </div>
    <div class="nav-content teal lighten-4 nav-hide">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="desktop.html"><i class="material-icons teal-text text-darken-3">chrome_reader_mode</i></a></li>
        <li class="tab"><a class="active" href="user.html"><i class="material-icons teal-text text-darken-3">person_outline</i></a></li>
        <li class="tab"><a href="chat.html"><i class="material-icons teal-text text-darken-3">message</i></a></li>
        <li class="tab"><a href="viajes.html"><i class="material-icons teal-text text-darken-3">notifications_none</i></a></li>
        <a href="post.html" id="post"class="btn btn-floating cyan pulse"><i class="material-icons">add</i></a>
      </ul>
    </div>
  </nav>

  <div class="row ">
    <div class="col l3 left-hide">
      <div class="collection">
        <a href="#!" class="collection-item">Publicaciones</a>
        <a href="#!" class="collection-item hide-show">¿A dónde quieres ir?</a>
        <div class="hidden">
          <div class="style-maps">
            <p class="">Sal a dar un paseo , Tienes muchos lugares hermosos cerca :)</p>
            <div class="input-field">
              <select id="types">
                <option value="galería de arte" selected>Galerías de arte</option>
                <option value="amusement_park">Parques de diversion</option>
                <option value="restaurant">Restaurants</option>               
              </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class=" col l12">
              <div id="mapa"> </div>
            </div>
          </div>
        </div>

        <a href="#!" class="collection-item hide-show-oyp">Ofertas y promociones</a>
        <div class="hidden-oyp">
          <div class="">
            <div class="">
              <ul class="collapsible popout" data-collapsible="accordion">
                <li class="">
                  <div class="collapsible-header"><i class="material-icons">airplanemode_active</i>Viajes en avión</div>
                    <div class="collapsible-body">
                      <ul class="collection">
                        <li class="collection-item avatar">
                          <img src="../assets/images/chica.png" alt="" class="circle">
                          <span class="title">LATAN</span>
                          <p>Airlines<br>¡Aprovecha y vuela!</p>
                          <a href="https://www.latam.com/es_pe/vuelos-destinos/?OTID=894423&s_cid=onsite2016_PE_20170428_home_Boton_Piso_">Ver página web</a>
                          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                          <i class="material-icons circle">flight_takeoff</i>
                          <span class="title">Buenos Aires</span>
                          <p>Economy<br>Desde US$ 485<br>S/.1,582</p>
                          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                          <i class="material-icons circle green">flight_takeoff</i>
                          <span class="title">Cuzco</span>
                          <p>Economy<br>Desde US$ 36<br>S/.118</p>
                          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                          <i class="material-icons circle red">flight_takeoff</i>
                          <span class="title">Sao Paolo</span>
                          <p>Economy<br>Desde US$ 509<br>S/.1,660</p>
                          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="">
                    <div class="collapsible-header"><i class="material-icons">airport_shuttle</i>Viajes en Bus</div>
                      <div class="collapsible-body">
                        <ul class="collection">
                          <li class="collection-item avatar">
                            <img src="../assets/images/chica.png" alt="" class="circle">
                            <span class="title">GM</span>
                            <p>Transportes<br>Internacional S.A.C.</p>
                            <a href="http://www.gminternacional.com.pe/">Ver página web</a>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                          </li>
                          <li class="collection-item avatar">
                            <i class="material-icons circle">flight_takeoff</i>
                            <span class="title">Lima</span>
                            <p>Economy<br>Desde US$ 13,95<br>S/.45</p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                          </li>
                          <li class="collection-item avatar">
                            <i class="material-icons circle green">flight_takeoff</i>
                            <span class="title">Huánuco</span>
                            <p>Economy<br>Desde US$ 15.53<br>S/.50</p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                          </li>
                          <li class="collection-item avatar">
                            <i class="material-icons circle red">flight_takeoff</i>
                            <span class="title">Tingo Maria</span>
                            <p>Economy<br>Desde US$ 24.86<br>S/.80</p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="">
                      <div class="collapsible-header"><i class="material-icons">mood</i>Ofertas</div>
                      <div class="collapsible-body">
                        <ul class="collection">
                          <li class="collection-item avatar">
                            <img src="../assets/images/chica.png" alt="" class="circle">
                            <span class="title">LATAN</span>
                            <p>Airlines<br>¡Aprovecha y vuela!</p>
                            <a href="https://www.latam.com/es_pe/vuelos-destinos/?OTID=894423&s_cid=onsite2016_PE_20170428_home_Boton_Piso_">Ver página web</a>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                          </li>
                          <li class="collection-item avatar">
                            <i class="material-icons circle">flight_takeoff</i>
                            <span class="title">Ayacucho</span>
                            <p>Economy<br>Desde US$ 62<br>S/.203</p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                          </li>
                          <li class="collection-item avatar">
                            <i class="material-icons circle green">flight_takeoff</i>
                            <span class="title">Trujillo</span>
                            <p>Economy<br>Desde US$ 67<br>S/.219</p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                          </li>
                          <li class="collection-item avatar">
                            <i class="material-icons circle red">flight_takeoff</i>
                            <span class="title">Pucallpa</span>
                            <p>Economy<br>Desde US$ 62<br>S/.203</p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>    
            </div>
            <a href="#!" class="collection-item">Sugerencias</a>
          </div>
        </div>

<!--     publicaciones     -->              
        <div class="col l6">         
          <div class="">
            <form class=" teal lighten-5">
              <div class="margin">
                <div class="input-field">
                  <textarea id="message" class="materialize-textarea validateInput"></textarea>
                  <label for="textarea1">Travel lovers</label>
                  <a class="waves-effect waves-light btn" id="btnEnviar">publicar</a>
                </div>
              </div>
            </form>
          </div>
          <div id="chatUl">
        </div>
      </div>
      <div class="col l3 right-hide">
        <div class="user-connected">
          <div id="app" class="">
            <div class="">
              <div class="">
                <div class="users-js">
                  <h5>Viajeros conectados</h5>
                </div>
                <ul class="users collection"></ul>
              </div>
            </div>
          </div> 
        </div>
        <div>
          <div class="teal lighten-2">
            <p class="style-chat"><a id="mostrar" href="#" class="teal-text text-accent-1">Chat</a></p>
          </div>
          <div>  
            <!-- chat funcional -->
            <div id="chat">
              <div class="row">
                <div class="col l12"></div>
                <div class="col l12">
                  <div class="encabezado">
                    <img  id="img-user" class="tam_chica" alt="chica">
                    <a href="#">
                      <i id="cerrar" class="small material-icons close">close</i>
                    </a>
                    <i class="small material-icons call">call</i>
                  </div>
                  <div class="chat col l12">        
                    <div id="chatFun" class="col l12">       
                  </div>
                  <hr>
                  <div class="center-align bg_color col l12">
                    <form action="">
                      <div class="row">
                        <div class="">
                          <textarea type="text" id="message" style="overflow-y:hidden" placeholder="Escriba su mensaje y presione el boton"></textarea>
                        </div>
                        <div class="">
                          <button id="btnEnviar" class="btn waves-effect waves-light" type="submit" name="action">
                            <i class="material-icons right">send</i>
                          </button>
                        </div>
                      </div>
                    </form>   
                  </div>               
                </div>              
              </div>
            </div>
          </div>
          <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large red">
              <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
              <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
              <li><a id="mostrar" class="btn-floating yellow darken-1"><i class="material-icons">chat</i></a></li>
              <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
              <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Materialize  Jquery JavaScript Firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC4C7p-SUpGda5c4bmHN7MTtBSDnhRpWGQ"></script>
  <script src="../js/post.js"></script>
  <script src="../js/home.js"></script>
  <script src="../js/chat.js"></script> 
  <script src="../js/main.js"></script>  
  <script src="../js/data.js"></script> 
  <script src="../js/map.js"></script>
  <script src="../js/desktop.js"></script>

</body>
</html>
