<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="slidebar">jennifer</div>
    <div id="main"> </div>
    <a id="abrir" class="abrir-cerrar" href="">Abrir menu</a>
    <a id="cerrar" class="abrir-cerrar" href="">cerrar menu</a>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="../vendors/js/jquery.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/home.js"></script>
</body>
</html>