<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../assets/icons/font-awesome/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/images/logo.png">
  <!-- Materialize core CSS -->
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css" />
  <link href="../css/main.css" rel="stylesheet">
  <title>Viajes</title>
</head>

<body>

  <section class="main">
    <div class="opacity">
        <div class="row">
            <div class="col s12">
              <p class="texto  bold center colorwhite">CONOCE VIAJEROS QUE TENGAN PLANES SIMILARES CONTIGO</p>
            </div>
          </div>
          <div class="row">
            <div class="col s12 center-align">
    
              <button id="inifacebook" class="center-align waves-effect waves-light btn">
                <i class="fa fa-facebook fa-3" aria-hidden="true"></i> Continuar con facebook</button>
            </div>
          </div>
          <div class="row">
            <div class="col s12 center-align">
                <button id="inigoogle" class="center-align waves-effect waves-light btn">
                  <i class="fa fa-google fa-3" aria-hidden="true"></i>  Continuar con Google</button>
            </div>
          </div>
    </div>
  </section>

  <!-- - jquery- JavaScript -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../vendors/js/jquery.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js//materialize.min.js"></script>
  <script src="../js/main.js"></script>

</body>

</html>