<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/images/logo.png">
  <!-- Bootstrap core CSS -->
  <link href="../vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../css/main.css" rel="stylesheet">
  <title>Viajes</title>
</head>

<body>

  <section class="main">


    <div class="opacity">
      <div class="container">
        <div class="row">
          <div class="col-xs-10">
            <p class="texto white bold">CONOCE VIAJEROS QUE TENGAN PLANES SIMILARES CONTIGO</p>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div class="form-group">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary col-xs-12">Continuar con facebook</button>
                    <br>
                    <button id="singlebutton" name="singlebutton" class="btn btn-default col-xs-12">Crear una cuenta</button>

                </div>
              <a href="" class="text-uppercase white bold">iniciar sessión</a>
              </div>
        </div>
      </div>
  </section>

  <!-- Bootstrap- jquery- JavaScript -->
  <script src="../vendors/js/jquery.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>