<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!--Import materialize-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css" media="screen,projection" />
  <link href="../css/main.css" rel="stylesheet">
  <title>Perfil</title>
</head>

<body class="">
  <nav class="nav-extended">
    <div class="nav-wrapper teal darken-1">
      <a href="#" class="brand-logo">Travel</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="user.html">Perfil</a>
        </li>
        <li>
          <a href="viajes.html">Viajes</a>
        </li>
        <li>
          <a href="desktop.html">Inicio</a>
        </li>
        <li>
          <a href="fotos.html">Fotos</a>
        </li>
        <li>
          <a href="main.html">Cerrar Sesión</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="user.html">
            <i class="material-icons  orange-text text-darken-1">account_circle</i>Perfil</a>
        </li>
        <li>
          <a href="viajes.html">
            <i class="material-icons light-blue-text text-darken-3">image</i>Viajes</a>
        </li>
        <li>
          <a href="desktop.html">
            <i class="material-icons purple-text">face</i>Inicio</a>
        </li>
        <li>
          <a href="fotos.html">
            <i class="material-icons red-text text-lighten-1">local_see</i>Fotos</a>
        </li>
        <li class="users-js">
          <a href="#">
            <i class="material-icons indigo-text text-darken-2">people</i>Usuarios Conectados</a>
        </li>
        <ul class="users collection"></ul>
        <li>
          <a href="main.html">
            <i class="material-icons grey-text">close</i>Cerrar Sesión</a>
        </li>
      </ul>
    </div>
    <div class="nav-content teal lighten-4 nav-hide">
      <ul class="tabs tabs-transparent">
        <li class="tab">
          <a href="desktop.html">
            <i class="material-icons teal-text text-darken-3">chrome_reader_mode</i>
          </a>
        </li>
        <li class="tab">
          <a class="active" href="user.html">
            <i class="material-icons teal-text text-darken-3">person_outline</i>
          </a>
        </li>
        <li class="tab">
          <a href="chat.html">
            <i class="material-icons teal-text text-darken-3">message</i>
          </a>
        </li>
        <li class="tab">
          <a href="viajes.html">
            <i class="material-icons teal-text text-darken-3">notifications_none</i>
          </a>
        </li>
        <a href="post.html" id="post" class="btn btn-floating cyan pulse">
          <i class="material-icons">add</i>
        </a>
      </ul>
    </div>
  </nav>

  <br>
  <div class="container">
    <div class="row">
      <div class="col  s4 offset-s4 m2 offset-m5 ">
        <img id="img-user" class="responsive-img circle" alt="">
      </div>
    </div>
    <div class="row">
      <h6 class="center-align bold" id="name-user"></h6>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3">
          <a class="active" href="#bibliografia"> BIBLIOGRAFÍA</a>
        </li>
        <li class="tab col s3">
          <a href="#informacion"> INFORMACIÓN</a>
        </li>
        <li class="tab col s3">
          <a href="#fotos">FOTOS</a>
        </li>
        <li class="tab col s3">
          <a href="#amigos">AMIGOS</a>
        </li>
      </ul>
    </div>
    <div id="bibliografia" class="col s12">
      <div class="row">
        <div class="col s12 m8 offset-m2">
          <form id="formPost" class="col s12 border form_write">
            <div class="row ">
              <div class="input-field col s12 ">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="writepost" class="materialize-textarea textAreaPost" placeholder="¿Qué estas pensando?"></textarea>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class=" col s6 left-align">
            <label>
              <input type="file" name="fichero" value="" id="fichero" class="hide">
              <img id="imagepost" class="responsive-img" />
              <div>
                <i class="material-icons pd_left">camera_alt</i>
              </div>
            </label>
          </div>
          <div class=" col s6 right-align">
            <a id="btnEnviar" class="waves-effect waves-light btn btn_publicar" type="submit" value="" disabled>Publicar</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="boxPost">

        </div>
      </div>
      <!-- Modal Eliminar -->
      <div id="modal2" class="modal open">
        <div class="modal-content">
          <h4>Mensaje</h4>
          <p>¿Realmente desea eliminar su post?</p>
        </div>
        <div class="modal-footer">
          <a id="deletepost" class="modal-action  waves-effect waves-red btn-flat ">Aceptar</a>
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
        </div>
      </div>
    </div>

    <div id="informacion" class="col s12">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="col s8 offset-s2">
              <div class="input-field col s12 m6">
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Fecha de cumpleaños</label>
              </div>
              <div class="input-field col s12 m6">
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Teléfono:</label>
              </div>
              <div class="input-field col s12 m6">
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Estudia en:</label>
              </div>
              <div class="input-field col s12 m6">
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Lugar de Nacimiento:</label>
              </div>
            </div>

          </div>
        </form>
        <div class="center-align">
          <a class="waves-effect lwaves-ight btn mg_btn_edit">
            <i class="material-icons left">edit</i>Editar</a>
          <a class="waves-effect lwaves-ight btn mg_btn_edit">
            <i class="material-icons left">save</i>Guardar</a>

        </div>
      </div>

    </div>
    <div id="fotos" class="col s12">
      <div class="row">
        <div class="col s12 m8 offset-m2">

          <img class="materialboxed margin_photo " data-caption="A picture of a way with a group of trees in a park" width="50%" src="../assets/images/index.jpg">

          <img class="materialboxed margin_photo" data-caption="A picture of a way with a group of trees in a park" width="50%" src="../assets/images/index.jpg">

        </div>
      </div>

    </div>

    <div id="amigos" class="col s12">
    </div>

  </div>




    <!-- Materialize  Jquery JavaScript -->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="../vendors/js/jquery.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="../js/helpers/config_firebase.js"></script>
    <script src="../js/home.js"></script>
    <script src="../js/user.js"></script>
    <script src="../js/helpers/functions.js"></script>

</body>

</html>